[submodule "Pose/ViTPose/ViTPose"]
	path = Pose/ViTPose/ViTPose
	url = https://github.com/ViTAE-Transformer/ViTPose.git
[submodule "Tracking/MMTracking/mmtracking"]
	path = Tracking/MMTracking/mmtracking
	url = https://github.com/open-mmlab/mmtracking.git
[submodule "Keypoints/V1/lib/funscript_toolbox"]
	path = Keypoints/V1/lib/funscript_toolbox
	url = git@github.com:michael-mueller-git/funscript-toolbox.git
