appdirs==1.4.4
CacheControl==0.12.6
cffi==1.14.6
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==35.0.0
distlib==0.3.3
distro==1.6.0
einops==0.3.2
html5lib==1.1
idna==3.3
more-itertools==8.10.0
msgpack==1.0.2
numpy==1.21.2
opencv-python==4.5.4.58
ordered-set==4.0.2
packaging==20.9
pep517==0.11.0
ply==3.11
progress==1.6
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
Reflector==2021.7.8.19.52.52
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
team==1.0
toml==0.10.2
tomli==1.2.1
torch==1.10.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
webencodings==0.5.1
